<style>
  * {
    border: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .message-content img {
    width: 100%;
    object-fit: cover
  }

  .message-content h1 {
    width: 100%;
    color: #34052d;
    padding: 16px;
    text-align: center;
  }

  .message-text {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

  .message-text h3 {
    color: #34052d;
  }

  .message-text a {
    padding: 8px 16px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    background: #34052d;
    margin: 0 auto;
  }

</style>

<div class="container">
  <div class="message-content">
    <img alt="logo" src="https://app-pucci-dental-lab.s3.amazonaws.com/logo_pucci_dental_lab.png" />
    <h1>Redefinição de senha</h1>
    <div class="message-text">
      <h3>Olá, {{name}}</h3>
      <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
      <p>Caso tenha sido você, então clique no link abaixo para escolher uma nova senha:</p>
      <br />
      <a href="{{link}}">Resetar minha senha</a>
      <br />
      <br />
      <p>Se não foi você, então descarte esse email.</p>
      <br />
      <p>Atenciosamente!<br /><strong>Pucci Dental Lab</strong></p>
    </div>
  </div>
</div>

